.Card {
    width: 300px;
    height: 480px;
    background:white;
    border-radius:10px;
    box-shadow: 0px 1px 10px 1px black;

}


.upper-container{
    height: 100px;
    background:linear-gradient(to left, #2d00f7, #ff0291);
}


.image-container img {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(95px, 45px);

}

img{
    border: 2px solid  #8e00b9
}